@media screen and (max-width: 460px){
  .panel{
    width:97%;
  }
}

@media screen and (min-width: 460px){
  .panel{
    width:450px;
  }
}

body{
  background-color: #e7e7e7;
  /* font-family: 'Helvetica Neue', Helvetica, Arial; */
}

.panel{margin:0 auto;}
.content span{color: #888;}

/* QUOTA */
.quota-used,
.quota-total{height:25px;margin:0;padding:0;color:#fff;}

.quota-total{margin:0 8px;}

.quota-used{background-color:#55a;float:left;}
.quota-used span{display:inline-block;font-size:80%;padding:.3em 0 0 .55em;width:8em;}
.quota-total{background-color:#aaa;overflow: hidden;}

/* ALBUMS */
.album-name{
  display:block;
  text-decoration: none;
  color:inherit;
}
.nphotos{
  background:transparent url(../images/ico_photos_b_16x16.png) no-repeat left 3px;
  padding-left:23px;
  float:right;
  color:inherit;
  font-size:90%;
  width:1.85em;
}
/*
.album-thmbnl{
  height:148px;
  background-size:cover;
  background-position:center;
}
*/
.album-tools{
  display:block;
  padding:8px 0;
  text-align:center;
}

.album-tools a{
  display:block;
  text-indent: -999px;
  width:20px;
  height:20px;
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
}

.album-tools .tool-view{  background-image: url(../images/ico_eye_g_42x42.png); }
.album-tools .tool-logs{  background-image: url(../images/ico_file_document_g_42x42.png);}
.album-tools .tool-trash{  background-image: url(../images/ico_delete_g_42x42.png);}
.album-tools .tool-delete{  background-image: url(../images/ico_close_g_42x42.png);}
.album-tools .tool-ranking{  background-image: url(../images/ico_circle_checkbox_g_42x42.png);}
.album-tools .tool-settings{  background-image: url(../images/ico_settings_g_42x42.png);}

.album-tools li{
  display:inline-block;
  margin:0 4.87%;
  overflow: hidden;
}

/* FIXES */
.disabled{
  text-decoration:line-through;
}
.indent{
  padding-left:13px;
}