h1,h3{
  margin:0;
  padding:0;
}

.j-list{
  position:absolute;
  width:13em;
  left:0;
  top:3em;
  bottom:0;
  margin-right:1px #333 solid;
  overflow: scroll;
}

.j-list h2{
  margin:0;
  padding:0 0 0 .2em;
}

.j-list ul{
  margin:0 0 1em .2em;
  padding:0 0 0 1.25em;
}

.j-file{
  position:absolute;
  left:17em;
  top:3em;
  bottom:0;
  right:7px;
  overflow: scroll;
  font-family: monospace;
}