/* Basic Grey */
/*
.basic-grey {
  
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    padding: 25px 15px 25px 10px;
    border:1px solid #E4E4E4;
	font-family:sans-serif;
    background: #F7F7F7;
	font-size:14pt;
    color: #888;
  
    text-shadow: 1px 1px 1px #FFF;
}
*/

.basic-grey label{
    display: block;
    margin: .5em 0 0;
	/*font-size:85%;*/
    font-weight:100;
}
.basic-grey a,
.basic-grey label>span{
    display:block;
    padding-right: 10px;
    color: #888;
}
.basic-grey input[type="checkbox"]{
	display:inline-block;
}
.basic-grey input[type="text"], 
.basic-grey input[type="password"], 
.basic-grey input[type="email"], 
.basic-grey textarea, 
.basic-grey select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 99%;
    font-size: 107%;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.basic-grey textarea{
    padding: 5px 3px 3px 5px;
}
.basic-grey select {
    background: #FFF url('../images/down-arrow.png') no-repeat right;
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 78%;
    height: 35px;
    line-height: 25px;
}
.basic-grey textarea{
    height:8em;
}
.basic-grey .button {
    display:block;
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
    margin:0.25em 8px;
    float:right;
}
.basic-grey .button:hover {
    background: #CF7A7A
}

input.datepicker{display:inline-block !important;width:6.4em !important;}
