.photo-wrapper{
  padding:8px;
  text-align:center;
}
/* Card, Dialog */
.photo-card {
  position: relative;
  display: inline-block;
  width: 186px;
  /*vertical-align: top;*/
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  margin:8px;
  padding-top:186px;
  height:34px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /*overflow:hidden;*/
}

.photo-tools{
  float:left;
  margin-top: -186px;
  padding:5px;
}

.photo-tools a{
display:inline-block;
text-indent:-9999px;
}

.photo-tools .delete{
  width:20px;
  height:20px;
  background:transparent url("../images/ui_ico_del_20x20.png") no-repeat 0 0;

}

.photo-form .photo-label{
  border:0;
  background:transparent url("../images/ico_pencil_w_20x20.png") no-repeat 161px center;
  padding:0 28px .47em .35em;
  display:block;
  height:25px;
  overflow: hidden;
  line-height: 150%;
  font-weight:300;
  word-wrap: break-word;
}

.photo-card .photo-rate{
  position:absolute;
  margin:-1.5em 0 0;
  padding:0 0 0 20px;
  color:#fafafa;
  right:5px;
  text-shadow: 1px 1px 2px #000;
  background:transparent url("../images/ico_calculator_w_16x16.png") no-repeat left center;
  cursor: pointer;
}

.photo-card .photo-rate-details{
  display:none;
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:3px;
  background-color:rgba(0,0,0,.75);
  padding:5px 8px;
}
.photo-card .photo-rate-details h4{
  background-color:#333;
  color:#eee;
  text-align:left;
  font-size:20px;
  font-weight:300;
  margin:-5px -8px 8px;
  padding:3px 0 5px 14px;
}
.photo-card .photo-rate-details>span{
  display:block;
  padding:3px 0 5px 70px;
  color:#fff;
}
.photo-card .photo-rate-details .stars-1,
.photo-card .photo-rate-details .stars-2,
.photo-card .photo-rate-details .stars-3,
.photo-card .photo-rate-details .stars-4,
.photo-card .photo-rate-details .stars-5{
  background-position: 6px 4px;
  background-repeat: no-repeat;
}
.photo-card .photo-rate-details .stars-1{  background-image: url(../images/ico_stars_w_1_5.png); }
.photo-card .photo-rate-details .stars-2{  background-image: url(../images/ico_stars_w_2_5.png); }
.photo-card .photo-rate-details .stars-3{  background-image: url(../images/ico_stars_w_3_5.png); }
.photo-card .photo-rate-details .stars-4{  background-image: url(../images/ico_stars_w_4_5.png); }
.photo-card .photo-rate-details .stars-5{  background-image: url(../images/ico_stars_w_5_5.png); }

.photo-card .photo-rate-details .close-details{
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  text-align:center;
  cursor: pointer;
  padding:3px 0;
}

#mbupdate-photo-thumb{
  display:block;
  /*margin:8px 0 4px;*/
}

#mb-update-photo input[type="text"],
#mb-update-photo textarea{
  display:block;
  width:100%;
  /*margin:4px 0;*/
  padding:.3em;  
  
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#mb-update-photo input[type="text"]{
  border-width: 0 0 1px;
  border-style: dotted;
  border-color: #fff;
  font-weight:700;
}

#mb-update-photo textarea{
  height:5em;
  border:0;
  font-weight:300;
  resize: none;
}

/* FONT SIZES & COLORS */
.photo-form .photo-label,
.photo-card .photo-rate-details .close-details,
#mb-update-photo input[type="text"],
#mb-update-photo textarea{
  background-color:#10ADF5;
  color:#fff;
  font-family: "Lato", sans-serif;
  font-weight:300;
  font-size:127%;
  text-decoration: none;
}

/* Z-INDEX */
.photo-card .photo-rate-details{
  z-index: 99;
}