.album-infos p{
  margin:0;
  padding:.75em;
  font-size:80%;
  color:#aaa;
  font-weight:300;
}
a{
    color:#09F;
    text-decoration:none;
}
.header{
    padding:0;
}
.header h1{
    font-size: 215%;
    color: #cdd3dd;
    display:inline-block;
    font-weight:100;
    margin:0;
    padding:.15em 0 .1em .25em;
}
.header h1 a{
    color:#41505A;
}
.header h1 a:hover{
    color:#09F;
}

h1.instance-header{
    font-size: 14px;
    padding:20px;
    margin-bottom:10px;
    margin-top: 30px;
}
/* Floating checkboxes */
.floatchkbx{
  position:absolute;
  margin:10px 0 0 10px;
  cursor: pointer;
  
}
label {
  position:absolute;
  margin:10px 0 0 10px;
  cursor: pointer;
  font-size: 13px; margin-right:10px; line-height:18px;
}
input[type=checkbox] {
    display:none; 
}
label:before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background:transparent url("../images/ico_unchecked_32x32.png") no-repeat 0 0;
  /*
    vertical-align:middle;
    background-color: #0088cc;
    color: #f3f3f3;
    text-align: center;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8); 
    border-radius: 3px;*/
}
input[type=checkbox]:checked + label:before {
    /*content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 22px;*/
    background:transparent url("../images/ico_checked_32x32.png") no-repeat 0 0;
}
/* Toolbar */
.toolbar{
  height:24px;
  background-color:transparent;
  position:absolute;
  right:10px;
  top:10px;
}
.toolbar .tb-dots{
  display:block;
  width:16px;
  height:16px;
  cursor: pointer;
}
.toolbar ul{
  list-style-type: none;
  margin:0;
  padding:0;
}
.toolbar li{
  min-height:16px;
  min-width:16px;
  display:inline-block;
  text-align:center;
  margin:0 7px;
}
.toolbar>ul>li>a{
  width:16px;
  height:16px;
  display:block;
  text-indent:-9999px;
}

.toolbar ul.submenu,
.toolbar ul.submenu_ico{
  display:none;
  position:absolute;
  background:#fafafa;
  color:#333;
  padding:5px;
  margin:5px;
  width:10em;
  right:5px;
  font-size:90%;
  z-index:998;
}
.toolbar ul.submenu_ico li,
.toolbar ul.submenu li
{
  display:block;
  min-height: 20px;
  padding:.4em 0;
}
.toolbar ul.submenu_ico li{
  padding-left:24px;
  text-align:left;
}
.toolbar ul.submenu_ico a,
.toolbar ul.submenu a{
  color:inherit;
}
.header .toolbar-home{
  display:inline-block;
  text-indent: -256px;
  width:32px;
  height:32px;
  text-decoration: none;
  opacity: .8;
  vertical-align:bottom;
  padding-right:.3em;
  margin-right:.3em;
  border-right:1px #cdd3dd solid;
}

/* ICONS */
.toolbar-home{ background: transparent url("../images/toolbar_home_32x32.png") no-repeat 0 0; }

.toolbar .tb-dots-w{ background: transparent url(../images/toolbar_dots_v_w_16x16.png) no-repeat left center;}
.toolbar .tb-delete-w{ background: transparent url(../images/toolbar_delete_16x16.png) no-repeat left center;}
.toolbar .tb-myuploads-w{background: transparent url(../images/toolbar_myuploads_w_16x16.png) no-repeat left center;}

.toolbar .tb-myuploads-g{background: transparent url(../images/toolbar_myuploads_g_16x16.png) no-repeat left center;}
.toolbar .tb-myrates-g{background: transparent url(../images/toolbar_double_check_g_16x16.png) no-repeat left center;}
.toolbar .tb-clonesession-g{background: transparent url(../images/toolbar_account_switch_g_16x16.png) no-repeat left center;}
.toolbar .tb-settings-g{background: transparent url(../images/toolbar_settings_g_16x16.png) no-repeat left center;}
.toolbar .tb-sendto-g{background: transparent url(../images/toolbar_send_g_16x16.png) no-repeat left center;}
.toolbar .tb-stats-g{background: transparent url(../images/toolbar_chartbar_g_16x16.png) no-repeat left center;}